<template>
  <div id="app">
    <img
      v-for="(image, index) in images"
      :key="index"
      :src="image.src"
      :alt="image.caption"
      @click="openGallery(index)"
    >
    <SimpleGallery
      :active.sync="isVisibleGallery"
      :images="images"
      :index="indexImage"
    />
  </div>
</template>

<script>

import SimpleGallery from 'vue-simple-gallery'

export default {
  name: 'App',
  components: { SimpleGallery },
  data () {
    return {
      images: [
        {
          src: require('@/assets/images/image1.jpg'),
          caption: 'Caption for image 1'
        },
        {
          src: require('@/assets/images/image2.jpg'),
          caption: 'Caption for image 2'
        },
        {
          src: require('@/assets/images/image3.jpg'),
          caption: 'Caption for image 3'
        },
        {
          src: require('@/assets/images/image4.jpg'),
          caption: 'Caption for image 4'
        }
      ],
      isVisibleGallery: false,
      indexImage: 0
    }
  },
  methods: {
    openGallery (index) {
      this.indexImage = index
      this.isVisibleGallery = true
    }
  }
}
</script>

<style scoped>
  img {
    width: 200px;
  }
</style>
